<% wrap_layout :layout do %>
	<article class="row">
		<div class="small-12 medium-7 columns">
			<% if current_page.data.title %>
				<h1 class="is-hidden"><%= current_page.data.title %></h1>
			<% end %>
			<%= yield %>
		</div>
	</article>
<% end  %>
