---
title: About
layout: 'page'
background_image: '/images/about.jpg'
---

<p>Fieldstone is a full service landscape development firm providing design, site management and installation. Led by Manoli Galanakis, a recipient of numerous regional and national design awards throughout his fifteen-year career, Fieldstone is currently working on a variety of projects from rooftop gardens in Manhattan to large-scale retreats in the Hamptons and Long Island's east end. For more information on projects, past and present, or if you have questions or new business enquiries, feel free to <%= link_to "get in touch", 'contact.html' %>.</p>

<blockquote>
	<p>&ldquo;I think of Fieldstone as a "boutique" company in that we focus on high quality design, impeccable craftsmanship and highly personalized service. I personally enjoy taking a direct orchestrating role in all phases of the project from concept to construction. It is this intimate involvement with the project and the client that enables our vision to be realized as intended. Just as importantly, this personalized service also creates a strong lasting bond with clients who continue to serve as the core of my business through recommendations and referrals. I hope you enjoy looking through the portfolio. It is a small selection of my work throughout my career.&rdquo;</p>
</blockquote>

<p>– Manoli Galanakis</p>
