---
title: Portfolio
background_image: '/images/about.jpg'
---

<div class="row collapse header-shim">
<% blog('portfolio').articles.each do |article| %>
	<a class="portfolio-item small-12 medium-4 large-3 columns end"
		href="<%= article.url %>"
		title="<%= article.title %>">
		<span class="portfolio-item-cover-image" style="background-image: url('<%= article.url + article.data.cover_image %>')"></span>
		<span class="is-hidden"><%= article.title %></span>
	</a>
<% end %>
</div>
